<div class="ui middle aligned center aligned grid box_centered">
  <% # TODO: Add live chart displaying readings from all devices %>
  <div class="six wide column">

    <h5 class="ui icon header">
      <i class="broadcast tower icon"></i>
      <div class="content">
        <%= link_to 'iot monitor', root_path %>
      </div>
    </h5>

    <div class="ui divider"></div>

    <div class="ui left aligned segment">
      <div class="ui divided relaxed items">

        <% # TODO: Update readings + online status as they come in via js stream %>
        <% # BUG: Puts devices that have no temp_reading value at the top %>
        <% if Device.any? %>
          <% Device.includes(:temp_readings).order('temp_readings.received_time DESC').each do |device| %>
            <%= link_to device, class: 'item' do %>
              <div class="content">
                <div class="header">
                  <%= device.name %>
                </div>
                <div class="meta">
                  <% if device.status %>
                    <span><%= device.status %> on <%= device.status_time.in_time_zone(Time.now.zone).to_s(:rfc822) %></span>
                  <% end %>
                </div>
                <div class="description">
                  <p>[Device Description]</p>
                  <p>[Location data]</p>
                </div>
              </div>
              <% if device.temp_readings.any? %>
                <div class="ui <%= temp_reading_color device.temp_readings.first.value %> statistic">
                  <div class="value">
                    <%= device.temp_readings.first.value.to_s if device.temp_readings.any? %>
                  </div>
                  <div class="label">
                    Celsius
                  </div>
                </div>
              <% end %>
            <% end %>
          <% end %>
        <% end %>

      </div>
    </div>

  </div>
</div>
